{
  "checks": [
    {
      "id": "chk01",
      "name": "CPU Check",
      "script": "{{monitoring_plugins_dir}}/bin/check-cpu.rb -w 70 -c 80",
      "interval": "10s",
      "status": "passing"
    },
    {
      "id": "chk02",
      "name": "Memory Check",
      "notes": "Warning > 75, Critical >85",
      "script": "{{monitoring_plugins_dir}}/bin/check-memory-percent.rb -w 75 -c 85",
      "interval": "10s",
      "status": "passing"
    },
    {
      "id": "chk04",
      "name": "Disk Usage Check",
      "script": "{{monitoring_plugins_dir}}/bin/check-disk-usage.rb -w 70 -c 85",
      "interval": "10s",
      "status": "passing"
   }
  ]
}